.experience {

  padding: 140px 0;

  background: #fff;
}

.experience h2 {

  font-size: 4rem;

  margin-top: 20px;

  max-width: 700px;

  line-height: 1.1;
}

.timeline {

  position: relative;

  margin-top: 80px;
}

.timeline::before {

  content: '';

  position: absolute;

  left: 170px;

  top: 0;

  width: 3px;

  height: 100%;

  background:
    linear-gradient(
      #ff8c42,
      #ff5e7d
    );
}

.timeline-item {

  position: relative;

  display: grid;

  grid-template-columns: 140px 1fr;

  gap: 60px;

  margin-bottom: 60px;
}

.timeline-item::after {

  content: '';

  position: absolute;

  left: 161px;

  top: 16px;

  width: 20px;

  height: 20px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #ff8c42,
      #ff5e7d
    );

  box-shadow:
    0 0 20px rgba(255,94,125,.4);
}

.year {

  color: #ff8c42;

  font-weight: 700;
}

.timeline-card {

  background: white;

  padding: 35px;

  border-radius: 32px;

  box-shadow:
    0 20px 60px rgba(0,0,0,.06);

  transition: .4s ease;
}

.timeline-card:hover {

  transform:
    translateY(-8px);

  box-shadow:
    0 30px 80px rgba(0,0,0,.1);
}

.timeline-card h3 {

  font-size: 2rem;
}

.role {

  display: block;

  margin-top: 10px;

  color: #777;
}

.company-tags {

  margin-top: 25px;

  display: flex;

  gap: 10px;

  flex-wrap: wrap;
}

.company-tags span {

  padding: 10px 16px;

  border-radius: 999px;

  background: #fff4ef;

  color: #ff7a45;

  font-size: .85rem;

  font-weight: 600;
}

.achievements {

  margin-top: 25px;

  display: flex;

  flex-direction: column;

  gap: 14px;
}

.achievements div {

  color: #555;

  line-height: 1.6;

  font-weight: 500;
}

@media(max-width:992px){

  .experience h2 {

    font-size: 3rem;
  }

  .timeline::before {

    display: none;
  }

  .timeline-item {

    grid-template-columns: 1fr;
  }

  .timeline-item::after {

    display: none;
  }

  .year {

    margin-bottom: -35px;
  }
}